*{
    /*box-sizing: border-box;*/
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message{
    margin: 10px;
    padding: 5px;
    border: 5px grey;
    border-radius: 5px;
    text-indent: 5px;
}
#blue{
    background-color: #ccdeff;
    color: #484191;
}
#green{
    background-color: #cff3da;
    color: #2b7644;
}
#yellow{
    background-color: #fcfbc9;
    color: #8a7610;
}
#red{
    background-color: #FAD2D6;
    color: #830000;
}